{namespace CampaignTable}

/**
 * @param? edit
 * @param? remove
 * @param? tableData
 */
{template .render}
	<div class="campaign-manager-campaign-table">
		{call Table.render}
			{param headers: ['Name', 'Scheduled Date', 'Goal'] /}
			{param data: $tableData /}
			{param events: ['removeClicked': $remove, 'editClicked': $edit] /}
		{/call}
	</div>
{/template}
