{namespace EditCampaign}

/**
 * @param? editCampaignId
 * @param sourceUrl
 */
{template .render}
	<div class="campaign-manager container-fluid white-bg">
		<div class="campaign-manager-edit-campaign">
			{call BackArrow.render data="all" /}
			<h1>{isNonnull($editCampaignId) ? 'Edit' : 'New'} Campaign</h1>
		</div>
	</div>
{/template}
