body {
	color: #646c8b;
	font-family: sans-serif;
}

.campaign-manager {
	background-color: #f5f5f7;
	padding: 0 50px;
}

.campaign-manager-header .campaign-manager-button-new {
	margin: 50px 0;
}

.campaign-manager-title {
	color: #6f7bbe;
	padding: 50px 0;
}

.campaign-manager-card {
	background-color: #fff;
	border: 1px solid #ebecf0;
	border-radius: 8px;
	box-shadow: 0 2px 5px #ebecf0;
	color: #646c8b;
	padding: 25px;
}

.no-padding {
	padding: 0;
}

#campaign-manager-active-card .campaign-manager-card,
#campaign-manager-leads-card .campaign-manager-card,
#campaign-manager-amount-card .campaign-manager-card {
	padding: 0;
}

#campaign-manager-active-card .campaign-manager-card-body {
	padding: 48px 0;
}

#campaign-manager-leads-card .campaign-manager-card-body {
	padding: 38px 0;
}

#campaign-manager-amount-card .campaign-manager-card-body {
	padding: 50px 0;
}

#campaign-manager-amount-card .campaign-manager-amount-value {
	font-size: 3rem;
	margin-bottom: 7px;
}

.campaign-manager-card .campaign-manager-card-label {
	font-size: 2rem;
	line-height: 2.4rem;
}

.campaign-manager-dashboard .campaign-manager-card {
	font-size: 25px;
	height: 100%;
	text-align: center;
}

.campaign-manager-dashboard .campaign-manager-card-wrapper {
	height: 100%;
}

.campaign-manager-card-wrapper {
	margin: 0 0 50px 0;
}

.campaign-manager-card-wrapper:nth-child(3n + 0) .campaign-manager-card {
	margin-right: 0;
}

.campaign-manager-card-people {
	padding: 0;
}

.campaign-manager-card-people img,
.campaign-manager-image-card img {
	width: 100%;
}

.campaign-manager-image-card .campaign-manager-card,
.campaign-manager-table-card .campaign-manager-card {
	text-align: left;
}

.campaign-manager-image-card .count {
	padding-left: 15px;
}

.campaign-manager-table-card table thead th {
	border: none;
	font-size: 18px;
	font-weight: normal;
}

.campaign-manager-table-card table tbody td {
	font-size: 15px;
	border: none;
}

.campaign-manager-search {
	margin-bottom: 20px;
}

.campaign-manager-manage-campaigns .select label {
	font-weight: normal;
}

.campaign-manager-manage-campaigns .select select {
	border: none;
	box-shadow: none;
	font-weight: bold;
}

.campaign-manager-edit-campaign {
	color: #646c8b;
}

.campaign-manager-edit-campaign .form-horizontal .control-label {
	text-align: left;
}

.campaign-manager-edit-campaign .form-horizontal h2 {
	color: #86af33;
}

.back-arrow {
	position: absolute;
	top: 0;
	left: 0;
}

.highlight {
	color: #2ecda8
}

.default-text-color {
	color: #646c8b;
}

.big {
	font-size: 50px;
}

.light-gray {
	color: #D0D5DC;
}

.white-bg {
	background-color: #fff;
}
