.campaign-manager {
	background-color: #f5f5f7;
	padding: 0 50px;
}

.campaign-manager-header .campaign-manager-button-new {
	margin: 50px 0;
}

.campaign-manager-title {
	color: #a0a8d2;
	padding: 50px 0;
}

.campaign-manager-card {
	background-color: #fff;
	border: 1px solid #ebecf0;
	border-radius: 5px;
	box-shadow: 0 2px 5px #ebecf0;
	color: #646c8b;
	padding: 25px 34px;
}

.campaign-manager-dashboard .campaign-manager-card {
	font-size: 25px;
	margin: 0 0 50px 0;
	min-height: 300px;
	text-align: center;
}

.campaign-manager-card-wrapper:nth-child(3n + 0) .campaign-manager-card {
	margin-right: 0;
}

.campaign-manager-card-people {
	padding: 0;
}

.campaign-manager-card-people img,
.campaign-manager-image-card img {
	width: 100%;
}

.campaign-manager-image-card .campaign-manager-card,
.campaign-manager-table-card .campaign-manager-card {
	text-align: left;
}

.campaign-manager-image-card .count {
	padding-left: 15px;
}

.campaign-manager-table-card table thead th {
	border: none;
	font-size: 18px;
	font-weight: normal;
}

.campaign-manager-table-card table tbody td {
	font-size: 15px;
	border: none;
}

.campaign-manager-tabs {
	margin-bottom: 20px;
	text-align: center;
}

.campaign-manager-tabs li {
	display: inline-block;
	float: none;
}

.campaign-manager-search {
	margin-bottom: 20px;
}

.campaign-manager-manage-campaigns .select label {
	font-weight: normal;
}

.campaign-manager-manage-campaigns .select select {
	border: none;
	box-shadow: none;
	font-weight: bold;
}

.campaign-manager-edit-campaign {
	color: #646c8b;
}

.back-arrow {
	position: absolute;
	top: 0;
	left: 0;
}

.highlight {
	color: #2ecda8
}

.big {
	font-size: 50px;
}

.light-gray {
	color: #D0D5DC;
}

.white-bg {
	background-color: #fff;
}
