{namespace BackArrow}

/**
 * @param basePath
 * @param sourceUrl
 */
{template .render}
	<a href="{$basePath}{$sourceUrl}" class="back-arrow">
		<span class="glyphicon glyphicon-menu-left"></span>
	</a>
{/template}
